@media screen and (max-width: 1200px) {
  header {
    transform: translateX(-75%);
  }

  header nav .nav-logo {
    font-size: 1.5rem;
  }

  header nav .nav-burger {
    top: 20px;
  }

  header nav .nav-list ul li a {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 992px) {
  header {
    transform: translateX(-80%);
    width: 30%;
    background-color: transparent;
  }

  header nav .nav-logo {
    padding: 2.5rem 0 0;
    font-size: 1.2rem;
  }

  header nav .nav-burger {
    top: 18px;
    right: 10px;
  }

  header nav .nav-list ul li a {
    font-size: 1rem;
  }

  .container {
    padding: 0;
  }

  .container .cards {
    scroll-snap-type: y proximity;
    padding: 0 2rem;
  }

  .container .cards .card {
    height: 100%;
    padding: 0 0 2rem 0;
  }

  .container .cards .card .card-list {
    flex-wrap: wrap;
  }

  .container .cards #card-seven .card-head {
    margin-top: 0;
  }

  .container .cards #card-seven .card-list .list-content {
    height: fit-content;
    width: 225px;
  }

  .container .cards #card-seven .card-list .list-content img {
    transform: translateY(0);
    box-shadow: 0 0 6px #000;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    overflow: hidden;
  }

  .container .cards #card-seven .card-list .list-content .content-info {
    opacity: 1;
    transform: translateY(-3px);
    box-shadow: 0 0 6px #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }

  .container .cards #card-seven .card-list .list-content .content-info h3::after {
    width: 70%;
  }

  .container .cards #card-seven .card-list .list-content:hover .content-info h3::after {
    width: 80%;
  }
}

@media screen and (max-width: 768px) {
  header {
    transform: translateX(-75%);
  }
}

@media screen and (max-width: 576px) {
  header {
    transform: translateX(-75%);
    width: 40%;
  }

  header nav .nav-burger {
    right: 5px;
  }
}
