* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 20%;
  transform: translateX(-83%);
  background-color: rgb(29, 29, 168);
  transition: all 0.5s ease-out;
  z-index: 10;
}

header.active {
  transform: translateX(0);
  background-color: rgb(29, 29, 168);
}

header nav {
  color: #fff;
  padding: 1.5rem;
}

header nav .nav-logo {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px #000;
  opacity: 0;
  transition: all 0.3s ease-in;
}

header nav .nav-logo.active {
  opacity: 1;
}

header nav .nav-logo span {
  color: green;
}

header nav .nav-burger {
  position: absolute;
  top: 27px;
  right: 15px;
  z-index: 11;
}

header nav i {
  font-size: 2.3rem;
  color: #000;
  transition: all 0.5s ease-in;
}

header nav i:hover {
  color: #fff;
}

header nav i:nth-child(2) {
  display: none;
}

header.active nav i:nth-child(1) {
  display: none;
}

header.active nav i:nth-child(2) {
  display: block;
  animation: roll 1s ease-in;
}

@keyframes roll {
  0% {
    display: none;
    transform: rotate(0);
  }
  100% {
    display: block;
    transform: rotate(90deg);
  }
}

header nav .nav-list {
  opacity: 0;
  transition: all 0.3s ease-in;
  height: 100vh;
}

header nav .nav-list.active {
  opacity: 1;
}

header nav .nav-list ul {
  list-style: none;
  height: 80%;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

header nav .nav-list ul li {
  margin: 1.5rem 0;
  padding: 0.5rem 0;
  border-bottom: 1px solid #000;
}

header nav .nav-list ul li a {
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s ease-in;
}

header nav .nav-list ul li a:hover {
  color: #000;
}

.container {
  position: relative;
}

.container .cards {
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.container .cards .card {
  scroll-snap-align: center;
  padding: 0 6rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #000;
}

.container .cards .card .card-head h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  text-shadow: 1px 1px 1px;
  text-align: center;
  padding: 2rem;
}

.container .cards .card .card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.container .cards #card-one .card-list .list-content {
  width: 325px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.container .cards #card-one .card-list .list-content img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container .cards #card-one .card-list .list-content .content-info {
  padding: 0.5rem 0.5rem 1rem 0.5rem;
}

.container .cards #card-one .card-list .list-content .content-info h3 {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.3rem;
}

.container .cards #card-one .card-list .list-content .content-info p {
  font-size: 1.02rem;
  text-align: justify;
  margin-bottom: 1rem;
  color: #3b3b3b;
}

.container .cards #card-one .card-list .list-content .content-info .btn-more {
  padding: 0.4rem 0.6rem;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease-in;
}

.container .cards #card-one .card-list .list-content .content-info .btn-more:hover {
  background-color: darkblue;
}

.container .cards #card-two .list-content {
  text-align: center;
  padding: 1rem 0.5rem 1.25rem;
  width: 325px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 8px;
  overflow: hidden;
}

.container .cards #card-two .list-content img {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  border: 1px solid #000;
  margin-bottom: 0.3rem;
  object-fit: cover;
}

.container .cards #card-two .list-content .content-info h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: -3px;
}

.container .cards #card-two .list-content .content-info h4 {
  font-size: 1.2rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
  margin-bottom: 1.5rem;
}

.container .cards #card-two .list-content .content-info .info-more {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

.container .cards #card-two .list-content .content-info .info-more h5 {
  text-transform: uppercase;
  color: rgb(128, 128, 128);
}

.container .cards #card-two .list-content .content-info .info-more p {
  font-size: 1.1rem;
}

.container .cards #card-two .list-content .content-info > p {
  font-size: 1.05rem;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(128, 128, 128);
  margin-bottom: 1.3rem;
}

.container .cards #card-two .list-content .content-info .info-social {
  margin-bottom: 1.6rem;
}

.container .cards #card-two .list-content .content-info .info-social a {
  text-decoration: none;
  color: #000;
  font-size: 1.1rem;
}

.container .cards #card-two .list-content .content-info .info-social i {
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}

.container .cards #card-two .list-content .content-info .info-social a:hover i {
  background-color: darkblue;
  color: #fff;
}

.container .cards #card-two .list-content .content-info .btn-more {
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.4rem 0.8rem;
  background-color: blue;
  border-radius: 8px;
  border: 1px solid #000;
  color: #fff;
  transition: all 0.3s ease-in;
}

.container .cards #card-two .list-content .content-info .btn-more:hover {
  background-color: darkblue;
}

.container .cards #card-three .card-list .list-content {
  width: 325px;
  overflow: hidden;
  position: relative;
  border-radius: 18px;
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.container .cards #card-three .card-list .list-content > img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.container .cards #card-three .card-list .list-content .list-info {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 150px;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  transform: translateY(50%);
  transition: all 0.5s ease-out;
}

.container .cards #card-three .card-list .list-content .list-info:hover {
  transform: translateY(0);
}

.container .cards #card-three .card-list .list-content .list-info .info-img {
  flex-basis: 35%;
}

.container .cards #card-three .card-list .list-content .list-info .info-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #000;
}

.container .cards #card-three .card-list .list-content .list-info .info-head {
  flex-basis: 65%;
  text-align: start;
}

.container .cards #card-three .card-list .list-content .list-info .info-head h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.container .cards #card-three .card-list .list-content .list-info .info-head p {
  font-size: 1rem;
  font-weight: 300;
  color: rgb(128, 128, 128);
}

.container .cards #card-three .card-list .list-content .list-info .info-page p {
  font-size: 1.05rem;
  font-weight: 500;
  color: rgb(128, 128, 128);
}

.container .cards #card-four .card-list {
  flex-wrap: wrap;
}

.container .cards #card-four .card-list .list-content {
  width: 250px;
  height: 125px;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.8);
  background-color: #000;
  color: #fff;
  padding: 1rem;
  position: relative;
  cursor: pointer;
}

.container .cards #card-four .card-list .list-content h3 {
  position: relative;
  font-size: 1.2rem;

  letter-spacing: 1px;
  z-index: 1;
}

.container .cards #card-four .card-list .list-content h4 {
  position: relative;
  font-size: 1.05;
  font-weight: 500;
  color: rgb(128, 128, 128);
  z-index: 1;
}

.container .cards #card-four .card-list .list-content p {
  font-size: 1rem;
  font-weight: 300;
  position: absolute;
  bottom: 15px;
  left: 15px;
  z-index: 1;
}

.container .cards #card-four .card-list .list-content:hover h4,
.container .cards #card-four .card-list .list-content:hover h3,
.container .cards #card-four .card-list .list-content:hover p {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.container .cards #card-four .card-list .list-content .color {
  position: absolute;
  top: -10px;
  right: -8px;
  width: 40px;
  height: 35px;
  border-radius: 50%;
  transition: all 0.5s ease-in;
  z-index: 0;
}

.container .cards #card-four .card-list .list-content:nth-child(1) .color {
  background-color: red;
}

.container .cards #card-four .card-list .list-content:nth-child(2) .color {
  background-color: green;
}

.container .cards #card-four .card-list .list-content:nth-child(3) .color {
  background-color: blue;
}

.container .cards #card-four .card-list .list-content:nth-child(4) .color {
  background-color: yellow;
}

.container .cards #card-four .card-list .list-content:nth-child(5) .color {
  background-color: tomato;
}

.container .cards #card-four .card-list .list-content:nth-child(6) .color {
  background-color: seagreen;
}

.container .cards #card-four .card-list .list-content:nth-child(7) .color {
  background-color: slateblue;
}

.container .cards #card-four .card-list .list-content:nth-child(8) .color {
  background-color: orchid;
}

.container .cards #card-four .card-list .list-content:hover .color {
  transform: scale(20);
}

.container .cards #card-five .card-list .list-content {
  position: relative;
  width: 225px;
  height: 275px;
  overflow: hidden;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.6);
}

.container .cards #card-five .card-list .list-content img {
  width: 100%;
  height: 278px;
  object-fit: cover;
  transition: all 0.4s ease-in;
}

.container .cards #card-five .card-list .list-content .content-info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(35%);
  padding: 8.3rem 1rem 0.5rem 1rem;
  transition: all 0.3s ease-in;
}

.container .cards #card-five .card-list .list-content .content-info h3 {
  color: #fff;
  margin-bottom: 0.4rem;
  text-shadow: 1px 1px #000;
}

.container .cards #card-five .card-list .list-content .content-info p {
  font-size: 0.95rem;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  text-shadow: 1px 1px #000;
  transition: all 0.3s ease-out;
  margin-bottom: 0.5rem;
}

.container .cards #card-five .card-list .list-content .content-info a {
  text-decoration: underline;
  color: #fff;
  text-shadow: 1px 1px #000;
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}

.container .cards #card-five .card-list .list-content .content-info a:hover {
  color: #000;
  text-shadow: none;
}

.container .cards #card-five .card-list .list-content:hover img {
  transform: scale(105%);
}

.container .cards #card-five .card-list .list-content:hover .content-info {
  transform: translateY(0);
  background-color: rgba(255, 255, 255, 0.3);
}

.container .cards #card-five .card-list .list-content:hover .content-info p {
  opacity: 1;
}

.container .cards #card-six .card-list {
  flex-wrap: wrap;
}

.container .cards #card-six .card-list .list-content {
  width: 400px;
  height: 200px;
  border: 1px solid #000;
  box-shadow: 0 0 4px rgba(0, 0, 0, 1);
  display: flex;
}

.container .cards #card-six .card-list .list-content .card-left {
  flex-basis: 60%;
  padding: 1.5rem;
}

.container .cards #card-six .card-list .list-content .card-left h3 {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.container .cards #card-six .card-list .list-content .card-left h3::after {
  content: "";
  display: block;
  width: 90%;
  height: 2px;
  border-radius: 6px;
  background-color: blue;
  margin: 0.4rem 0 0.5rem;
}

.container .cards #card-six .card-list .list-content .card-left > p {
  font-size: 1rem;
  color: rgb(128, 128, 128);
  margin-bottom: 1rem;
}

.container .cards #card-six .card-list .list-content .card-left a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  width: 65%;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.4);
}

.container .cards #card-six .card-list .list-content .card-left a .price {
  flex-basis: 30%;
  padding: 0.3rem;
  background-color: blue;
  text-align: center;
  min-width: 40%;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.container .cards #card-six .card-list .list-content .card-left .price i {
  transform: translateX(-400%);
  transition: all 0.5s ease-in;
}

.container .cards #card-six .card-list .list-content .card-left .price p {
  transition: all 0.5s ease-in;
}

.container .cards #card-six .card-list .list-content .card-left a:hover .price i {
  transform: translateX(-100%);
}

.container .cards #card-six .card-list .list-content .card-left a:hover .price p {
  transform: translateX(-400%);
}

.container .cards #card-six .card-list .list-content .card-left a > p {
  flex-basis: 65%;
  padding: 0.3rem;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.3s ease-in;
}

.container .cards #card-six .card-list .list-content .card-left a:hover > p {
  background-color: #000;
}

.container .cards #card-six .card-list .list-content .card-right {
  position: relative;
  flex-basis: 40%;
  overflow: hidden;
  background-color: #fff;
}

.container .cards #card-six .card-list .list-content .card-right img {
  width: 100%;
  height: 100%;
}

.container .cards #card-six .card-list .list-content .card-right .right-list {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.6);
  transform: translateX(-100%);
  transition: all 0.3s ease-in;
}

.container .cards #card-six .card-list .list-content .card-right:hover .right-list {
  transform: translateX(0);
}

.container .cards #card-six .card-list .list-content .card-right .right-list h3 {
  color: #fff;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 0.8rem;
}

.container .cards #card-six .card-list .list-content .card-right .right-list ul {
  list-style: outside;
}

.container .cards #card-six .card-list .list-content .card-right .right-list ul li {
  color: #fff;
  margin-bottom: 0.5rem;
  padding: 0.2rem;
  border-bottom: 1px solid #000;
  font-size: 0.8rem;
}

.container .cards #card-seven .card-head {
  margin-top: -8rem;
}

.container .cards #card-seven .card-list .list-content {
  position: relative;
  width: 275px;
  height: 230px;
}

.container .cards #card-seven .card-list .list-content img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 200px;
  object-fit: cover;
  transform: translateY(50px);
  box-shadow: 0 0 4px #000;
  filter: contrast(80%);
  transition: all 0.4s ease-in;
}

.container .cards #card-seven .card-list .list-content:hover img {
  transform: translateY(0);
  filter: contrast(100%);
  box-shadow: 0 0 6px #000;
  z-index: 3;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.container .cards #card-seven .card-list .list-content .content-info {
  opacity: 0;
  z-index: 0;
  position: relative;
  padding: 1rem 1.5rem;
  transform: translateY(-100px);
  transition: all 0.4s ease-in;
}

.container .cards #card-seven .card-list .list-content:hover .content-info {
  opacity: 1;
  z-index: 2;
  box-shadow: 0 0 6px #000;
  transform: translateY(-3px);
  background-color: #fff;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

.container .cards #card-seven .card-list .list-content .content-info h3 {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.container .cards #card-seven .card-list .list-content .content-info h3::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: blue;
  border-radius: 6px;
  margin: 0.3rem 0 0.5rem;
  transition: all 1s ease-in;
}

.container .cards #card-seven .card-list .list-content:hover .content-info h3::after {
  width: 60%;
}

.container .cards #card-seven .card-list .list-content .content-info p {
  font-size: 1rem;
  color: rgb(128, 128, 128);
  margin-bottom: 0.5rem;
}

.container .cards #card-seven .card-list .list-content .content-info a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in;
}

.container .cards #card-seven .card-list .list-content .content-info a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.container .cards #card-seven .card-list .list-content .content-info a::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  margin-top: 0.2rem;
  transition: all 0.5s ease-in;
}

.container .cards #card-seven .card-list .list-content .content-info a:hover::after {
  width: 35%;
}

.container .cards #card-eight .card-list .list-content {
  padding: 1.5rem;
  width: 300px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 0 4px #000;
}

.container .cards #card-eight .card-list .list-content h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 0.1rem;
}

.container .cards #card-eight .card-list .list-content > p {
  font-size: 1.2rem;
  color: rgb(128, 128, 128);
}

.container .cards #card-eight .card-list .list-content form .rating {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.3rem;
  margin: 1.5rem 0 1.3rem;
}

.container .cards #card-eight .card-list .list-content form .rating input {
  appearance: none;
}

.container .cards #card-eight .card-list .list-content form .rating label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  color: #000;
  width: 40px;
  height: 40px;
  padding: 0.5rem;
  overflow: hidden;
  border: 2px solid #000;
  border-radius: 50%;
}

.container .cards #card-eight .card-list .list-content form .rating input:checked + label {
  background-color: blue;
  color: #fff;
}

.container .cards #card-eight .card-list .list-content form .comment {
  display: flex;
  flex-wrap: wrap;
}
.container .cards #card-eight .card-list .list-content form .comment label {
  font-size: 1.05rem;
  margin-bottom: 0.5rem;
}

.container .cards #card-eight .card-list .list-content form .comment textarea {
  width: 100%;
}

.container .cards #card-eight .card-list .list-content form .subscribe {
  margin: 1rem 0;
}

.container .cards #card-eight .card-list .list-content form .subscribe p {
  font-size: 1.1rem;
  margin-bottom: 0.3rem;
}

.container .cards #card-eight .card-list .list-content form .button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
}

.container .cards #card-eight .card-list .list-content form .button .send {
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.4rem 0;
  border: none;
  color: #fff;
  background-color: blue;
  transition: all 0.3s ease-in;
}

.container .cards #card-eight .card-list .list-content form .button .send:hover {
  background-color: darkblue;
}

.container .cards #card-eight .card-list .list-content form .button .cancel {
  cursor: pointer;
  width: 100%;
  font-size: 1.1rem;
  padding: 0.4rem 0;
  border: none;
  color: #fff;
  background-color: orange;
  transition: all 0.3s ease-in;
}

.container .cards #card-eight .card-list .list-content form .button .cancel:hover {
  background-color: orangered;
}

.container .cards #card-nine .card-list .list-content {
  padding: 1rem;
  width: 250px;
  box-shadow: 0 0 4px #000;
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
}

.container .cards #card-nine .card-list .list-content img {
  width: 100%;
  height: 225px;
  object-fit: cover;
}

.container .cards #card-nine .card-list .list-content .content-info {
  padding: 0.5rem 0;
}

.container .cards #card-nine .card-list .list-content .content-info h3 {
  font-size: 1.25rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.container .cards #card-nine .card-list .list-content .content-info .info-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .cards #card-nine .card-list .list-content .content-info .info-list p {
  margin: 0.9rem 0.5rem 0.5rem;
  padding: 0.1rem 0.6rem;
  cursor: pointer;
  width: 100%;
  color: #fff;
  font-size: 1.05rem;
  text-align: center;
  border-radius: 6px;
  box-shadow: 0 0 6px #000;
  text-shadow: 1px 1px #000;
  background-color: darkgreen;
  transition: all 0.3s ease-in;
}

.container .cards #card-nine .card-list .list-content .content-info .info-list p:hover {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-color: green;
}

.container .cards #card-nine .card-list .list-content .content-info > p {
  font-size: 1.08rem;
  text-align: center;
  color: rgb(128, 128, 128);
  margin: 0.5rem 0 1.2rem;
}

.container .cards #card-nine .card-list .list-content .content-info .info-price {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container .cards #card-nine .card-list .list-content .content-info .info-price h4 {
  font-size: 1.4rem;
}

.container .cards #card-nine .card-list .list-content .content-info .info-price a {
  padding: 0.3rem 0.8rem;
  color: #fff;
  font-size: 1.1rem;
  text-decoration: none;
  border-radius: 6px;
  border: 1px solid #000;
  background-color: rgb(36, 36, 255);
  transition: all 0.3s ease-in;
}

.container .cards #card-nine .card-list .list-content .content-info .info-price a:hover {
  background-color: darkblue;
}

.container .cards #card-ten .card-list .list-content {
  position: relative;
  width: 325px;
  box-shadow: 0 0 4px #000;
  border-radius: 6px;
  overflow: hidden;
  transition: all 1s ease-in;
}

.container .cards #card-ten .card-list .list-content:hover {
  transform: rotateY(180deg);
  box-shadow: 0 0 6px #000;
  cursor: pointer;
}

.container .cards #card-ten .card-list .list-content .content-front {
  width: 100%;
  height: 230px;
}

.container .cards #card-ten .card-list .list-content .content-front img {
  width: 100%;
  height: 230px;
  object-fit: cover;
  transition: all 0.5s ease-in 0.5s;
}

.container .cards #card-ten .card-list .list-content:hover .content-front img {
  filter: blur(10px);
}

.container .cards #card-ten .card-list .list-content .content-back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  padding: 2rem;
  color: #fff;
  text-shadow: 1px 1px #000;
  transform: rotateY(180deg);
  transition: all 0.3s ease-in 0.5s;
}

.container .cards #card-ten .card-list .list-content:hover .content-back {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.8);
}

.container .cards #card-ten .card-list .list-content .content-back h3 {
  font-size: 1.4rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.container .cards #card-ten .card-list .list-content .content-back h3::after {
  content: "";
  display: block;
  height: 1px;
  width: 70%;
  margin: 0.5rem 0 1rem;
  border-radius: 4px;
  background-color: rgb(128, 128, 128);
}

.container .cards #card-ten .card-list .list-content .content-back p {
  font-size: 1.05rem;
  margin-bottom: 1rem;
}

.container .cards #card-ten .card-list .list-content .content-back a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  transition: all 0.3s ease-in;
}

.container .cards #card-ten .card-list .list-content .content-back a:hover {
  color: rgb(128, 128, 128);
}

.container .cards #card-ten .card-list .list-content .content-back a:after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background-color: rgb(128, 128, 128);
  transition: all 0.4s ease-out;
}

.container .cards #card-ten .card-list .list-content .content-back a:hover::after {
  width: 40%;
}
